body{
    background-color: burlywood;
    color: black;
    cursor: help;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: red;

}
strong {
    font-style: italic;
    color: purple;
}